<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCL80NqYhEpTo7qRaCd7w2hth5HWncvKRA</string>
	<key>GCM_SENDER_ID</key>
	<string>1010780327002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaleo.chat.app</string>
	<key>PROJECT_ID</key>
	<string>flutter-heart-6nrj5i</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-heart-6nrj5i.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010780327002:ios:2942c706501a17f7c09c63</string>
</dict>
</plist>